<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Enter text" />
            <input type="text" name="tag" placeholder="Tag" />
            <button type="submit">Add</button>
        </form>
    </div>
    <div>List of messages:</div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>
</html>